@model List<Product>

    <h4>Yeni bir ürün eklemek icin <a asp-controller="Product" asp-action="CreateProduct">tıklayınız</a></h4>
  

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Isim</th>
            <th>Fiyat</th>
            <th>Kategori</th>
            <th>Guncelle</th>
            <th>Sil</th>
        </tr>
    </thead>

    <tbody>
        @foreach(Product item in Model)
        {
            <tr>
                <td>@item.BenimId  </td>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.Category.CategoryName</td>
                <td><a asp-action="UpdateProduct" asp-controller="Product" class="btn btn-warning" asp-route-id="@item.BenimId">Güncelle </a></td>
                <td><a asp-action="DeleteProduct" asp-controller="Product" class="btn btn-danger" asp-route-id="@item.BenimId">Sil </a></td>
            </tr>
        }
        </tbody>

    </table>

